################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/demo45.64
/WpfApp64/obj/Debug
/WpfApp64/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
